footer.footer
  .container
    .footer__content
      .footer__logo
        img(src='/img/logo-green.png' alt='Bedvan Tours logo')
        p.footer__description Discover amazing tours around the world with our expert guides and unforgettable experiences.
      
      .footer__sections
        .footer__section
          h3.footer__heading Company
          ul.footer__nav
            li: a.footer__link(href='#') About Us
            li: a.footer__link(href='#') Careers
            li: a.footer__link(href='#') Contact
            li: a.footer__link(href='#') Blog
            
        .footer__section
          ul.footer__nav
            li: a.footer__link(href='#') Terms of Use
            li: a.footer__link(href='#') Privacy Policy
            li: a.footer__link(href='#') Cookie Policy
            li: a.footer__link(href='#') Sitemap
            
        .footer__section
          h3.footer__heading Connect
          ul.footer__social
            li: a.footer__social-link(href='#')
              svg.footer__social-icon
                use(xlink:href='/img/icons.svg#icon-facebook')
            li: a.footer__social-link(href='#')
              svg.footer__social-icon
                use(xlink:href='/img/icons.svg#icon-twitter')
            li: a.footer__social-link(href='#')
              svg.footer__social-icon
                use(xlink:href='/img/icons.svg#icon-instagram')
            li: a.footer__social-link(href='#')
              svg.footer__social-icon
                use(xlink:href='/img/icons.svg#icon-youtube')
      
      .footer__section
        h3.footer__heading Download Our App
        p.footer__app-text Get the best travel experience with our mobile app.
        .footer__app-buttons
          a.footer__app-button(href='#')
            img(src='/img/app-store.png' alt='App Store')
          a.footer__app-button(href='#')
            img(src='/img/play-store.png' alt='Google Play')
            
    .footer__bottom
      p.footer__copyright &copy; #{new Date().getFullYear()} Bedvan Tours. All rights reserved.