footer.footer.footer--modern
  .footer__logo
    img(src='/img/logo.jpg' alt='logosu')
  ul.footer__nav.footer__nav--links
    li: a(href='#') Hakkımızda
    li: a(href='#') Uygulamaları İndir
    li: a(href='#') Rehber Ol
    li: a(href='#') Kariyer
    li: a(href='#') İletişim
  p.footer__copyright © Diyar Altan!