header.header
  .container
    nav.nav.nav--tours
      a.nav__el.nav__el--logo(href='/')
        img.nav__logo(src='/img/logo-white.png', alt='Bedvan Tours logo')
      
      .nav__links
        a.nav__el.nav__el--link(href='/#about') About
        a.nav__el.nav__el--link(href='/#tourContainer') View Tours
      
      .nav__search-container
        form.nav__search-form(action='/search', method='GET')
          .nav__search-wrapper
            input.nav__search-input(type='text', name='query', placeholder='Search tours...')
            button.nav__search-btn(type='submit')
              i.fas.fa-search
    
    nav.nav.nav--user
      if user && user !== null
        .nav__user-menu
          .nav__user-dropdown
            button.nav__user-btn
              img.nav__user-img(src=`/img/users/${user.photo || 'default.jpg'}`, alt=`Photo of ${user.name}`)
              span.nav__user-name= user.name.split(' ')[0]
              i.fas.fa-chevron-down.nav__user-chevron
            .nav__user-dropdown-content
              a.nav__dropdown-item(href='/me')
                i.fas.fa-user-circle
                | My Profile
              a.nav__dropdown-item(href='/my-tours')
                i.fas.fa-briefcase
                | My Bookings
              if user.role === 'admin'
                a.nav__dropdown-item(href='/admin')
                  i.fas.fa-cog
                  | Admin Dashboard
              a.nav__dropdown-item.nav__el--logout(href='#')
                i.fas.fa-sign-out-alt
                | Log out
      else
        .nav__auth-buttons
          a.nav__el.nav__el--outline(href='/login')
            i.fas.fa-sign-in-alt
            | Log in
          a.nav__el.nav__el--cta(href='/signup')
            i.fas.fa-user-plus
            | Sign up